body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}



#big-home {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100vh;
  background-image: url("big_home.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  }




div.banner {
  position: fixed;
  top: 3vh;
  left: 2vw;
  width: 96vw;
  height: 10vh;
  border-radius: 25px;
  background-color: #9C27B0;
}

div.banner-big {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70%;
  border-radius: 25px 25px 0px 0px;
  background-color: #FF2D00;
}

div.banner-small {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 70%;
  left: 0px;
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 25px 25px;
  background-color: #03B913;
}

.button {
  position: relative;
  box-sizing: border-box;
  width: 5%;
  height: 100%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: center;
  background-color: #00FBFF;
}
